# 앱 런타임용 (Transaction mode, 포트 6543)
DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# 마이그레이션용 (Direct connection, 포트 5432)
DIRECT_URL="postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres"

NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

PORTONE_CHANNEL_KEY=""
PORTONE_API_SECRET=""

BLOB_READ_WRITE_TOKEN=""
